# ignore all .bak files
 *.bak

notas_azure_batch.txt
supportFiles/positions*
supportFiles/*.phsp
/work/
/sourcePHSPFiles/
/runFiles/
/venv/
/pythonscripts/__pycache__/
/azure_batch_files/simulationfile/node*/

# ignore foo.txt at the root (but not other foo.txt files)
# /foo.txt
