# ignore all .bak files
 *.bak

# ignore all files in the docs directory
supportFiles/positions*
work/
sourcePHSPFiles/
runFiles/

# ignore foo.txt at the root (but not other foo.txt files)
# /foo.txt