# ignore all .bak files
 *.bak

# ignore all files in the docs directory
supportFiles/positions*
supportFiles/*.phsp
/work/
/sourcePHSPFiles/
/runFiles/
/venv/
/pythonscripts/__pycache__/
/azure_batch_files/

# ignore foo.txt at the root (but not other foo.txt files)
# /foo.txt
